  CSS Selectors
#demo1 {
    text-align: center;
    color: blueviolet;
}
#demo2{
     text-align: center;
    color: rgb(43, 189, 226);
}
p.d1{
    text-align: center;
    color: red;
}
p.d2{
    font-size: 200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: green;
}
/* CSS Combinators 
      1) Descendant combinator (space) */
div p{
    background-color: aquamarine;
}
/* 2) Child Combinator (>) */
div > p{
    background-color: blue;
}
 /* CSS Pseudo-classes  */
    
    a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
a.highlight:hover{
    color: blue;
    font-size: 20px;
}
/* Hover on <div> */
.c1{
    background-color: green;
  color: white;
  padding: 25px;
  text-align: center;
  width: 50%;
  display: flexbox;
}
div:hover{
    background-color: blue;
}

#paraId {
  visibility: hidden;
  background-color: yellow;
  padding: 20px;
}
#para1{
    display: none;
    color: black;
    background-color: aquamarine;
    padding: 20px;
}

div:hover p {   
  display: block;
}

.pad::first-line{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
.pad1::first-letter{
    color: black;
    font-size: x-large;
}
h1::before{
    content:"\1F600";
}
h1::after{
    content:"\1F642";
}
::marker{
    color: aqua;
    font-size: 30px;
}
